@keyframes rotate{
  0% {
    transform: rotate(360deg);
    clip: rect(96px, 200px, 108px, 100px);
  }
  50%{
    clip: rect(92px, 200px, 108px, 100px);
  }
  100%{
    clip: rect(96px, 200px, 108px, 100px);
    transform: rotate(0deg);
  }
}

@keyframes rotate21{
  0% {
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(540deg);
  }
}

@keyframes rotate22{
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotate360{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotate3602{
  0% {
    transform: rotate(120deg);
  }
  100%{
    transform: rotate(480deg);
  }
}

@keyframes rotate3603{
  0% {
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(-90deg);
  }
}

@keyframes ring11{
  0% {
    transform : rotate(-223deg);
  }
  50%{
    transform: rotate(-170deg);
  }
  100%{
    transform : rotate(-223deg);
  }
}

@keyframes ring12{
  0% {
    transform : rotate(-205deg);
  }
  50%{
    transform: rotate(-135deg);
  }
  100%{
    transform : rotate(-205deg);
  }
}

@keyframes ring2{
  0% {
    transform : rotate(-45deg);
  }
  35.5%{
    transform : rotate(135deg);
  }
  100%{
    transform : rotate(135deg);
  }
}

@keyframes ring3{
  0% {
    transform : rotate(0deg);
  }
  50%{
    transform : rotate(0deg);
  }
  64.5%{
    transform : rotate(180deg);
  }
  100%{
    transform : rotate(180deg);
  }
}

@keyframes ring4{
  0% {
    transform : rotate(-45deg);
  }
  35.5%{
    transform : rotate(-45deg);
  }
  50%{
    transform : rotate(135deg);
  }
  100%{
    transform : rotate(135deg);
  }

}

@keyframes ring5{
  0% {
    transform : rotate(0deg);
  }
  64.5%{
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(180deg);
  }
}

@keyframes ring6{
  0% {
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(360deg);
  }
}

@keyframes rotate-litle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50%{
    transform: translate(-50%, -50%) rotate(120deg) scale(.5);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

@keyframes size{
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}