$bronze : #a0522d;
$silver : #808080;
$gold : #DAA520;
$platinum : #8FBC8F;
$diamond : #B0C4DE;
$master : #F0E68C;
$grand-master : #5F9EA0;

$light : #fff;
$dark : #000;

$valid : #008800;
$unselect : #880000;

